{% extends '@N8nManager/Layouts/admin.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">...</th>
                    <th scope="col">...</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td>{{ item.name }}</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}